<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">HomePage</a></li>
        </ul>
    </nav>
    <header>
        <h1>OAuth Tutorial</h1>
        <h2>Homepage</h2>
    </header>
    <main>
        <p>The best OAuth tutorial on this planet</p>
    </main>
    
</body>
</html>